#root {
  width: 100%;
}

.app {
  .app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: seagreen;

    h1 {
      margin: 0;
      color: white;
    }
  }

  .app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;

    .file-input {
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc;
    }
  }
}
